@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
:root {
 --dark: #565555;
 --light-background: aliceblue;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #8faa95;
  font-family: 'Caveat', cursive;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--light-background);
  color: var(--dark);
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.note {
  background-color: var(--light-background);
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
}

.note .tools {
  background-color: rgb(143, 170, 149, 0.5);
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: var(--dark);
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}